<% if recipe.errors.any? %>
  <div class="column is-6 is-offset-3">
    <article class="message is-danger">
      <div class="message-body">
        <p>
          <%= pluralize(recipe.errors.count, 'error') %>
          prohibited this recipe from being saved:</p>
        <br>
        <p>
        <% recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </p>
      </div>
    </article>
  </div>
<% end %>

<div class="container">
  <div class="column is-multiline">
    <div class="column is-6 is-offset-3">
      <div class="content is-size-3">
        <h1> <%= heading %> </h1>
      </div>
    </div>

    <div class="column is-12">
      <%= form_with model: recipe, local: true do |form| %>
        <div class="field">
          <%= form.label :title, class: "label" %>
          <div class="control">
            <%= form.text_field :title, class: "input", placeholder: 'Title' %>
          </div>
        </div>

        <div class="field">
          <%= form.label :description, class: "label" %>
          <div class="control">
            <%= form.text_area :description, class: "textarea", placeholder: 'Description of the recipe'%>
          </div>
        </div>

        <div>
          <div class="content is-size-5">
            <h4>Ingredients:</h4>
          </div>
          <ul>
            <%= form.fields_for :ingredients do |ingredients_form| %>
              <li>
                <%= ingredients_form.label :'Quantity' %>
                <%= ingredients_form.text_field :qty %>
                <%= ingredients_form.label :unit %>
                <%= ingredients_form.text_field :unit %>
                <%= ingredients_form.label :ingredient %>
                <%= ingredients_form.text_field :ingredient %>
              </li>
            <% end %>
          </ul>
        </div>

        <div>
          <div class="content is-size-5">
            <h4>Instructions:</h4>
          </div>
          <ul>
            <%= form.fields_for :instructions do |instructions_form| %>
              <li>
                <%= instructions_form.label :step %>
                <%= instructions_form.text_field :step %>
                <%= instructions_form.label :instruction %>
                <%= instructions_form.text_area :instruction %>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <%= form.submit "Submit", class: "button is-link" %>
          </div>
          <div class="contorl">
            <%= link_to "Cancel", cancel_path, class: "button is-link is-light" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
